<template data-sly-template.body="${ @ page}">

   	
    	<sly data-sly-use.head="head.html" data-sly-call="${head.head @ page = page}"/>
        
	

   <body>
   <sly data-sly-include = "/libs/wcm/core/components/init/init.jsp"/>
		<sly data-sly-resource = "${'footer-parsys' @resourceType = '/libs/foundation/components/iparsys'}"/>

		
		<sly data-sly-use.header="header.html" data-sly-call="${header.header @ page = page}"/>



	

		 <sly data-sly-use.footer="footer.html" data-sly-call="${footer.footer @ page = page}"/>
    	



	
	<div class="back-top"><i class="bi bi-arrow-up-short"></i></div>

	

		<sly data-sly-use.clientlib = "/libs/granite/sightly/templates/clientlib.html"/>
   		<sly data-sly-call = "${clientlib.js @categories = 'clientlib.esports'}"/>


    </body>
</template>






 