<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure League List here" class="cq-placeholder"></p>
<div class="card card-custom">
    <div class="card-header">
        <h4 class="text-white text-uppercase mb-1">${properties.cardTitle}<br>${properties.cardSubTitle}</h4>
        <sly data-sly-test="${properties.ctaText}">
        <a href = "${properties.ctaLink}">
        <div class="card-toolbar">

            <button type="button" class="btn btn-xs btn-light-soft fst-italic rounded-pill text-uppercase mb-0"
                data-bs-toggle="modal" data-bs-target="${properties.ctaLink}">${properties.ctaText}</button>
        </div>
        </a>
    </sly>
    </div>
    <div class="card-body p-0">
        <div class="d-block pb-4">
            <!-- slider START -->
            <div class="tiny-slider arrow-hover arrow-blur arrow-round rounded-3">
                <div class="tiny-slider-inner" data-autoplay="false" data-hoverpause="true" data-gutter="0"
                    data-arrow="false" data-dots="true" data-items="1" data-loop="false">
                    <!-- Slide item -->
                    <sly data-sly-list.multifield="${resource.getChildren}">
                        <sly data-sly-test="${multifield.name == 'league'}">
                            <sly data-sly-list.route="${multifield.getChildren}">
                                <div class="item pb-2">
                                    <!-- start -->
                                    <sly data-sly-test="${route.viewType=='academy'}">
                                        <sly data-sly-list.second="${route.getChildren}">
                                            <sly data-sly-test="${second.name == 'secondList'}">
                                                <sly data-sly-list.secondList="${second.getChildren}">
                                        <div class="schedule-academy-leauge">
                                            <div class="d-flex px-4 py-3 justify-content-between align-items-center" data-scroll-reveal="enter bottom move 40px over 0.3s after 0.3s">
                                                <span
                                                    class="text-primary font-heading fw-bolder lead text-uppercase">${secondList.heading}<span class="winner ms-1 text-white">${secondList.subHeading}</span></span>
                                            </div>
                                            <table
                                                class="table table-schedule-leauge table-borderless align-middle font-heading text-uppercase" data-scroll-reveal="enter bottom move 40px over 0.3s after 0.3s">
                                                <thead>
                                                    <tr>
                                                        <th class="p-0"></th>
                                                        <th class="p-0"></th>
                                                        <th class="p-0"></th>
                                                        <th class="p-0"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <sly data-sly-list.third="${secondList.getChildren}">
                                                        <sly data-sly-test="${third.name == 'leagueList'}">
                                                            <sly data-sly-list.routeItem="${third.getChildren}">
                                                    <tr>
                                                        <td class="px-2 text-center">
                                                            <span class="text-primary fw-bolder">${routeItem.month}</span>
                                                        </td>
                                                        <td class="px-2">
                                                            <span class="text-primary fw-bold">${routeItem.date}</span>
                                                        </td>
                                                        <td class="px-2">
                                                            <span class="text-white fw-bolder">${routeItem.week}</span>
                                                        </td>
                                                        <td class="px-2">
                                                            <span class="text-white fw-bolder">${routeItem.time}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    </sly>
                                                    </sly>
                                                    </sly>

                                                </tbody>
                                            </table>
                                        </div>
                                        </sly>
                                        </sly>
                                        </sly>
                                    </sly>
                                    <!-- End -->
                                    <!-- start -->
                                    <sly data-sly-test="${route.viewType=='champion'}">
                                        <sly data-sly-list.second="${route.getChildren}">
                                            <sly data-sly-test="${second.name == 'secondList'}">
                                                <sly data-sly-list.secondList="${second.getChildren}">
                                        <div class="schedule-champion-leauge">
                                            <div class="d-flex px-4 py-3 justify-content-between align-items-center">
                                                <span
                                                    class="text-primary font-heading fw-bolder lead text-uppercase">${secondList.heading}<span class="winner ms-1 text-white">${secondList.subHeading}</span></span>
                                            </div>
                                            <table
                                                class="table table-schedule-leauge table-borderless align-middle font-heading text-uppercase">
                                                <thead>
                                                    <tr>
                                                        <th class="p-0"></th>
                                                        <th class="p-0"></th>
                                                        <th class="p-0"></th>
                                                        <th class="p-0"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <sly data-sly-list.third="${secondList.getChildren}">
                                                        <sly data-sly-test="${third.name == 'leagueList'}">
                                                            <sly data-sly-list.routeItem="${third.getChildren}">
                                                    <tr>
                                                        <td class="px-2 text-center">
                                                            <span class="text-primary fw-bolder">${routeItem.month}</span>
                                                        </td>
                                                        <td class="px-2">
                                                            <span class="text-primary fw-bold">${routeItem.date}</span>
                                                        </td>
                                                        <td class="px-2">
                                                            <span class="text-white fw-bolder">${routeItem.week}</span>
                                                        </td>
                                                        <td class="px-2">
                                                            <span class="text-white fw-bolder">${routeItem.time}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    </sly>
                                                    </sly>
                                                    </sly>

                                                </tbody>
                                            </table>
                                        </div>
                                        </sly>
                                        </sly>
                                        </sly>
                                    </sly>
                                    <!-- End -->
                                </div>
                            </sly>
                        </sly>
                    </sly>
                    <!-- Slide item -->
                </div>
            </div>
            <!-- slider END -->
        </div>
    </div>
</div>