<p data-sly-test.edit = "${wcmmode.edit}" date-emptytext = "Configure Group List Card Component here" class = "cq-placeholder"></p>

<div class="row g-4">
    <sly data-sly-list.multifield="${resource.getChildren}">
        <sly data-sly-test="${multifield.name == 'groupListCard'}">
        <sly data-sly-list.route="${multifield.getChildren}">
    <div class="col-12">
        
        <div>
            <div class="card border" data-scroll-reveal="enter bottom move 40px over 0.3s after 0.3s">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img class="icon-xl" src="${route.image}" alt="${route.altText}">
                        <div class="w-100 ms-3">
                            <h6 class="text-white fst-italic text-uppercase mb-1"><a href="${route.link}" data-glightbox data-gallery="y-video"> ${route.title}</a></h6>
                            <small class="small d-block mb-1">${route.heading} </small>
                            <h6 class="fs-5 pt-2 fst-italic mb-1 text-uppercase d-flex align-items-center"><i class="bi bi-record-fill fs-5 me-2 fw-bold text-secondary"></i>${route.days}</h6>
                            <div class="d-flex justify-content-end">
                                <ul class="nav fs-6 mt-n2">
                                    <li class="nav-item ms-3">
                                        <i class="bi bi bi-eye me-1"></i> ${route.views}
                                    </li>
                                    <li class="nav-item ms-3">
                                        <i class="bi bi-heart me-1"></i> ${route.likes}
                                    </li>
                                    <li class="nav-item ms-3">
                                        <i class="bi bi-chat me-1"></i> ${route.comments}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </sly>
    </sly>
    </sly>
</div>