<div class="main">
    <div class="sidebar active d-none d-md-block">
        <!-- logo and toggle button -->
        <div class="logo_content">
            <div class="logo">
                <div class="logo_name">
                    <a class="navbar-brand" href="${properties.navigationRoot}">
                        <img class="navbar-brand-item light-mode-item" src="${properties.logoImage}" alt="${properties.alternateText}" />
                    </a>
                </div>
            </div>
            <i class="sprite-icon bg-less" id="toggle-menu-btn"></i>
        </div>
        <!-- navigation start -->
        <sly data-sly-list.multifield="${resource.getChildren}">
            <sly data-sly-test="${multifield.name == 'navlinks'}">
                <ul class="navbar-nav nav_list">
                    <sly data-sly-list.route="${multifield.getChildren}">
                        <li class="nav-item">
                            <a class="nav-link active" href="${route.hyperlink}">
                                <i>
                                    <img class="icon-md p-2" src="${route.image}" alt="${route.altText}" />
                                </i>
                                <span class="links_name">${route.linktext}</span>
                            </a>
                            <span class="tooltip"> <i>${route.tooltext}</i> </span>
                        </li>
                    </sly>
                </ul>
            </sly>
        </sly>
        <!-- ads Post -->
        <div class="add-post row">
            <div class="col">
                <a href="${properties.adlink}" class="d-block card-img-flash">
                    <img src="${properties.adImage}" alt="${properties.adAltText}" />
                </a>
                <small class="text-end d-block mt-1">${properties.text}</small>
            </div>
        </div>
    </div>

    <div class="home_content">
        <!-- sedebar content START - Why eSports?-->
        <div class="card">
            <div class="p-4">
                <h5 class="text-primary text-uppercase mb-0">${properties.overview}</h5>
                <h2 class="card-title text-uppercase display-5 mb-0">${properties.heading}
                </h2>
            </div>
            <img src="${properties.image}" alt="${properties.alternateText}">
            <div class="card-body p-4">
                <h3 class="card-title text-uppercase mb-3">${properties.description}</h3>
                <p>${properties.paraInfo}.</p>
                <div class="w-100 mt-5 text-center text-lg-end">
                    <a href="${properties.linkURL}"
                        class="btn btn-primary btn-sm fst-italic rounded-pill text-uppercase"
                        role="button" aria-lable="learn">${properties.learnMore}<i
                            class="fas fa-angle-right ms-2 align-middle"></i></a>
                </div>
            </div>
        </div>
        <!-- sedebar content START -->
    </div>
</div>
