<p data-sly-test.edit = "${wcmmode.edit}" data-emptytext = "Configure Tournament Table here" class = "cq-placeholder"></p>
<div class="tab-content p-0">
    <div class="tab-pane show active" id="tab-6-1">
        <!-- START: Table -->
        <div class="table-responsive">
            <table class="table table-tournament table-borderless align-middle font-heading text-uppercase">
                <thead>
                    <tr>
                        <th class="p-0"></th>
                        <th class="p-0"></th>
                        <th class="p-0"></th>
                        <th class="p-0"></th>
                        <th class="p-0"></th>
                        <th class="p-0"></th>
                    </tr>
                </thead>
                <tbody>
                    <sly data-sly-list.multifield="${resource.getChildren}">
                        <sly data-sly-test="${multifield.name == 'contentList'}">
                            <sly data-sly-list.route="${multifield.getChildren}">
                                <tr>
                                    <td class="ps-3 pe-2 text-center">
                                        <span class="text-primary fw-bolder fs-3 d-block">${route.dateHeading}</span>
                                        <span class="text-white fw-bold d-block">${route.dateSubHeading}</span>
                                    </td>
                                    <td class="px-2 text-center">
                                        <div class="symbol">
                                            <img alt="Logo" src="${route.logoImage}" />
                                        </div>
                                    </td>
                                    <td class="px-2">
                                        <span class="text-white fw-bolder lead d-block">${route.spanHeading} </span>
                                        <span class="text-primary fw-bold fs-5 d-block">${route.spanSubHeading} </span>
                                    </td>
                                    <td class="px-2">
                                        <span class="text-white fw-bolder lead d-block">${route.academyHeading}</span>
                                        <span class="text-muted fw-bold fs-5 d-block">${route.academySubHeading}</span>
                                    </td>
                                    <td class="px-2">
                                        <span class="text-white fw-bolder lead">${route.champHeading}</span>
                                        <span class="text-muted fw-bold d-block fs-5">${route.champSubHeading}</span>
                                    </td>
                                    <td class="px-2">
                                        <span class="text-white fw-bolder lead">${route.timeFormat} </span>
                                        <span class="text-muted fw-bold d-block fs-5">${route.timeText}</span>
                                    </td>
                                </tr>
                            </sly>
                        </sly>
                    </sly>
                </tbody>
            </table>
        </div>
        <!-- END: Table -->
    </div>
</div>
