<p data-sly-test.edit = "${wcmmode.edit}" date-emptytext = "Configure navigation component here" class = "cq-placeholder"></p>
<div class="${wcmmode.edit ? 'main-edit-mode':'main'}">
    <div class="sidebar active d-none d-md-block">

        <div class="logo_content">
            <div class="logo">
                <div class="logo_name">
                    <a class="navbar-brand" href="${properties.navigationRoot}.html">
                        <img class="navbar-brand-item light-mode-item" src="${properties.logoImage}" alt="${properties.alternateText}" />
                    </a>
                </div>
            </div>
            <i class="sprite-icon bg-less" id="toggle-menu-btn"></i>
        </div>

        <sly data-sly-list.multifield="${resource.getChildren}">
            <sly data-sly-test="${multifield.name == 'navlinks'}">
                <ul class="navbar-nav nav_list">
                    <sly data-sly-list.route="${multifield.getChildren}">
                        <li class="nav-item">
                            <a class="nav-link ${route.linkType}" href="${route.hyperlink}.html">
                                <i>
                                    <img class="icon-md p-2" src="${route.image}" alt="${route.altText}" />
                                </i>
                                <span class="links_name">${route.linktext}</span>
                            </a>
                            <span class="tooltip"> <i>${route.tooltext}</i> </span>
                        </li>
                    </sly>
                </ul>
            </sly>
        </sly>

        <div class="add-post row">
            <div class="col">
                <a href="${properties.adlink}" class="d-block card-img-flash">
                    <img src="${properties.adImage}" alt="${properties.adAltText}" />
                </a>
                <small class="text-end d-block mt-1">${properties.text}</small>
            </div>
        </div>
    </div>

    <div class="home_content">

        <sly data-sly-resource="${'navpar' @ resourceType='wcm/foundation/components/parsys'}"></sly>
        
    </div>
</div>
