header .navbar-brand .navbar-brand-item {
    transform: scale(1.2) translateY(10px);
}

header.navbar-sticky-on .navbar-brand .navbar-brand-item {
    transform: scale(1) translateY(0px);
}
.js-custom-banner .container{
    padding-left: 10rem;
    padding-right: 10rem;
}
.responsivegrid.container{
    max-width: 100% !important;
    padding: 0;
}

header .container-fluid, header  .container{
	--bs-gutter-x: 1rem !important;
}

.is-astrik{
    position: relative;
}
.root {
	overflow: hidden;
}

.is-astrik:after {
    content: "\f151";
    font-family: bootstrap-icons !important;
    position: absolute;
    color: var(--bs-primary);
    font-style: italic;
    right: 2rem;
    top: 1.325rem;
    bottom: auto;
    font-size: 0.425rem;
    line-height: 0.925rem;
    height: 0.625rem;
}

.shift-astrik.is-astrik:after {
    content: "\f151";
    right: -2rem;
    top: 0;
    bottom: auto;
}
.card.card-custom > .card-header, .card > .card-header{
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
@media (min-width: 1400px) {

}

@media (max-width: 1400px) {
    .js-custom-banner .container{
        padding-left: 5rem;
        padding-right: 5rem;
    } 
}
@media (max-width: 768px) {
    h4, .h4 {
        font-size: calc(1.265625rem + -0.8125vw);
    }
    main{
        overflow-x: hidden;
    }
    main .container-fluid, .container-fluid, .container{
        --bs-gutter-x: 0;
    }
    .home_content .card > div {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .card-footer > nav {
        text-align: center !important;
    }
    .card-footer > nav ul{
        display: inline-block;
    }
    .roster-list .vstack {
        padding: 1rem !important;
    }
    .roster-inline-list > div:last-child > div{
        border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    }
    .modal-header .btn-close{
        margin-right: -0.5rem !important;
        margin-top: 1.5rem !important;
    }
    .custom-modal .card .card-header{
        padding-right: 4rem !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }
    .modal-dialog{
        margin: 0;
    }
    .js-custom-banner .container{
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    } 
    .js-custom-banner h6,
    .js-custom-banner h3{
        display: none;
    }
    .js-custom-banner h1{
        margin-top: 4rem;
    }
    .js-custom-banner .btn{
        margin-top: 1rem;
    }
    .table-tournament tr td:nth-child(2), .table-tournament tr th:nth-child(2), .table-tournament tr th:nth-child(4), .table-tournament tr td:nth-child(4){
    	display:none
    }
}

@media (max-width: 576px) {
    .roster-inline-list > div > div:nth-of-type(even) {
        border-right: 1px solid rgba(255, 255, 255, 0) !important;
    }
    .group-list-border > div .info {
        margin-left: 0 !important;
        margin-top: 2rem;
    }
    .group-list-border > div:first-child {
        margin-top: 0rem !important;
    }
    .group-list-border > div {
        flex-direction: column;
    }


}

.four-card > div{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.four-card > div:nth-of-type(odd) {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.four-card > div:last-child, .four-card > div:nth-last-child(2) {
    border-bottom: 0px;
}

/* roster inline list */
.roster-inline-list > div > div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.roster-inline-list > div > div:nth-child(6n) {
    border-right: 1px solid rgba(255, 255, 255, 0);
}

.roster-inline-list > div:last-child > div {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.roster-list .item > div {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.roster-list .item > div:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.roster-list .item:last-child > div {
    border-right: 1px solid rgba(255, 255, 255, 0);
}

.roster-list .vstack a, .roster-inline-list .vstack a {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
  }
  
  .roster-list .vstack a:hover,  .roster-inline-list .vstack a:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }

@media (max-width: 992px) {
    .roster-list .item:nth-child(3n)   > div {
        border-right: 1px solid rgba(255, 255, 255, 0);
    }
}

@media (max-width: 767.98px) {
    .roster-list .item.tns-slide-active + .item > div {
        border-right: 1px solid rgba(255, 255, 255, 0);
    }
    .roster-list .item:nth-child(3n) > div {
        border-right: 1px solid rgba(255, 255, 255, 0.1);
    }

    .roster-list .item > div:nth-child(2){
        border-bottom: 1px solid rgba(255, 255, 255, 0);
    }

    .roster-list .item > div:nth-child(1), .roster-list .item > div:nth-child(2){
        display: block !important;
        visibility: visible;
    }
    .roster-list .item > div{
        display: none;
        visibility: hidden;
    }
}

.list-card > div {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.list-card.border-last-child > div{
    border-top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.list-card.border-none > div:last-child{
    border-bottom: 0;
}
.list-card.border-none > div:first-child{
    border-top: 0;
}
.three-four-card-list .four-card{
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.three-four-card-list .four-card:last-child{
    border-right: 0;
}

.three-four-card-list{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.three-four-card-list:last-child{
    border-bottom: 0;
}

.tns-nav{
    top: auto !important;
}

.tns-nav [data-nav]{
    background-color: #392D49;
    -webkit-box-shadow: 0 0 1px #4B3B60;
    box-shadow: 0 0 1px #4B3B60;
}

.tns-nav [data-nav]:after{
    background-color: #00FF5B;  
    -webkit-box-shadow: 0 0 1px #392D49;
    box-shadow: 0 0 1px #392D49;
}

/* TODO Custom Tabs start */

.nav-tabs.nav-tabs-custom{
    border-bottom:0 ;
}
.nav-tabs.nav-tabs-custom .nav-item .nav-link{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 3rem 1.5rem;
    position: relative;
    border-radius: 0;
}

.nav-tabs.nav-tabs-custom .nav-link.active{
    background: linear-gradient(356deg, rgb(48 53 60 / 10%) 0%, rgb(48 53 60 / 100%) 100%) !important;
    box-shadow: 0px -4px 5px 0px rgb(28 28 28 / 100%);
}
.nav-tabs.nav-tabs-custom .nav-link.active::before{
    content: "";
    height: 3px;
    background: var(--bs-primary);
    z-index: 1;
    position: absolute;
    width: Calc(100% - 3rem);
    bottom: Calc(0% + 3rem);
}

.nav-link:hover, .nav-link:focus {
    color: var(--bs-primary);
}

@media (max-width: 767.98px) {
    .nav-tabs.nav-tabs-custom{
        display: none;
    }
}

/* TODO Custom Trounament Table */
.table.table-tournament tbody tr:nth-of-type(odd){
    background-color: var(--bs-gray-900);
}
.table.table-tournament tbody tr:nth-of-type(even){
    background-color: var(--bs-dark);
}
.table.table-tournament th:first-child{
    min-width: 90px !important;
}
.table.table-tournament th:nth-child(2){
    min-width: 120px !important;
}
.table.table-tournament th:nth-child(3){
    min-width: 250px !important;
}
.table.table-tournament th:nth-child(4){
    min-width: 120px !important;
}
.table.table-tournament th:nth-child(5){
    min-width: 150px !important;
}
.table.table-tournament th:nth-child(6){
    min-width: 150px !important;
}
.table .symbol {
    min-height: 90px;
    line-height: 90px;
}
.table.table-tournament tbody tr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.table.table-tournament tbody tr:first-child{
    border-top: 0;
}
@media (max-width: 767.98px) {
    .table.table-tournament th:first-child {
        min-width: 70px !important;
    }
    .table.table-tournament th:nth-child(2) {
        min-width: 116px !important;
    }
    .table.table-tournament th:nth-child(3) {
        min-width: 110px !important;
    }
    .table.table-tournament th:nth-child(4) {
        min-width: 120px !important;
    }
    .table.table-tournament th:nth-child(5) {
        min-width: 80px !important;
    }
    .table.table-tournament th:nth-child(6) {
        min-width: 150px !important;
    }
}

/* TODO Schedule league Table (Academy/Champion League) */
.schedule-academy-leauge > div, .schedule-champion-leauge > div {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
}
.table.table-schedule-leauge th:first-child{
    min-width: 90px !important;
}
.table.table-schedule-leauge th:nth-child(2){
    min-width: 45px !important;
}
.table.table-schedule-leauge th:nth-child(3){
    min-width: 80px !important;
}
.table.table-schedule-leauge th:nth-child(4){
    min-width: 120px !important;
}
.schedule-academy-leauge .table tr td {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.schedule-academy-leauge .table tr td:last-child, .schedule-champion-leauge .table tr td:last-child{
    text-align: center;
}
.schedule-academy-leauge .table{
    padding-top: 1rem;
}
.schedule-champion-leauge {
    padding-bottom: 0.5rem;
}

.schedule-academy-leauge {
    padding-bottom: 1rem;
}

/* TODO Custom Dropdown */
.dropdown-menu{
    background-color: var(--bs-dark) !important;
}
.dropdown-custom{
    position: relative;
    font-style: italic !important;
    font-weight: 700 !important;
}
.dropdown-custom .dropdown-menu{
    min-width: Calc(100% + 1.5rem) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 0;
    box-shadow:  0px 20px 30px rgb(0 0 0 / 30%), 0px 0px 30px rgb(0 0 0 / 30%);
}
.dropdown-custom .dropdown-menu:before {
    content: '';
    background: var(--bs-dark);
    box-shadow: none;
    display: block;
    height: 12px;
    width: 12px;
    right: 1.5rem;
    left: auto;
    position: absolute;
    bottom: 100%;
    z-index: -5;
    transform: rotate(-45deg) translateY(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.2rem;
    box-shadow: -1px -1px 10px -2px rgb(31 45 61 / 20%);
}

.dropdown-custom .dropdown-toggle{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.dropdown-custom .dropdown-item{
    font-size: 0.75rem !important;
    font-weight: 700 !important;
}
.dropdown-custom .dropdown-item:hover, .dropdown-custom .dropdown-item:focus {
    color: #ffffff;
    background-color: transparent;
}

.result-league{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.result-league > div{
    margin-right: 2rem;
    margin-top: 1rem;
}

@media (max-width: 767.98px) {
    .result-league h2{
        font-size: 0.915rem;
        text-align: left;
    }
    .result-league > div{
        margin-right: 0.5rem;
    }
    .result-league > div ul > li{
        font-size: 0.825rem;
        text-align: left;
    }
}

.scale-1 {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.scale-2 {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.scale-3 {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
}

.scale-4 {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
}

.static-rating {
    display: inline-block;
}
.static-rating-sm .star {
    font-size: 0.325rem;
}
.static-rating .star {
    color: #E0E6ED;
}
.static-rating .voted {
    color: var(--bs-primary);
}

/* Custom Modal CSS */
.custom-modal.modal .modal-header , .custom-modal.modal .modal-body {
    padding: 0;
}

.custom-modal.modal .modal-header .btn-close{
    position: absolute;
    font-size: 1.125rem;
    height: 36px;
    width: 36px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    line-height: 36px;
    border-radius: 50%;
    padding: 0;
    right: 0;
    top: 0.5rem;
    margin-right: -2.5rem;
    z-index: 999;
    color: var(--bs-primary);
    background: var(--bs-dark);
    border: 3px solid var(--bs-primary);
    opacity: 1;
}

.custom-modal.modal .modal-header .btn-close:hover{
    color: var(--bs-white);
    background: var(--bs-primary);
}

/* custom form */
.form-custom hr{
    color: rgba(255,255,255,0.5); 
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-custom .form-check-inline{
    margin-right: 2rem;;
}

.form-custom .form-check-input{
background-color: #191a1f;
}

.group-list-border{
    display: block;
}
.group-list-border > div{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 4rem !important;
    margin-bottom: 2rem !important; 
    padding-bottom: 2rem;
}
.group-list-border > div:first-child{
    margin-top: 0rem !important;
}
.group-list-border > div:last-child{
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.winner-result{
    display: block;
    padding-bottom: 2rem;
}

.winner-result > div:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.card .winner-result:first-child > div:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0);
}
.about-league, .about-league ~ div{
    background-color: #000;
}
.about-league .info-detail {
    position: relative;
}
.about-league .logo-leauge img{
    padding-bottom: 4rem;
    width: 300px;
}

@media (max-width: 767.98px) {
    .about-league .logo-leauge img{
        width: 250px;
    }
}

.about-league{
    padding-bottom: 5rem;
}

.tns-nav-active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #00FF5B;
    border-color: #00FF5B;
}
.tns-nav-active:focus .page-link, .tns-nav-active .page-link:focus{
    border-color: #00FF5B;
}