<p data-sly-test.edit = "${wcmmode.edit}" data-emptytext = "Configure CardList Component here" class = "cq-placeholder"></p>
<div class="col-12">
    <div class="row">
        <div class="col-12">

            <div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="text-white text-uppercase mb-0">${properties.heading}<span
                                class="text-primary">${properties.primaryHeading}</span></h4>
                    </div>
                    <div class="card-body p-4">
                        <div class="container col-12 col-lg-9">
                            <div class="row g-5">

                                <div class="col-12">
                                    <h3 class="card-title text-uppercase mb-4 mt-2 text-center">${properties.description @ context = 'html'}
                                </div>

                                <sly data-sly-list.multifield="${resource.getChildren}">
                                <sly data-sly-test="${multifield.name == 'cardItem'}">
                                <sly data-sly-list.route="${multifield.getChildren}">
                                <div class="col-md-6">
                                    <div class="card bg-transparent">

                                        <div class="position-relative text-center">
                                            <img class="card-img w-75"
                                                src="${route.image}"
                                                alt="Card image">
                                            <div
                                                class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                
                                                <div class="w-100 mt-auto">

                                                    <h4 class="text-primary text-uppercase">${route.subHeading}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="row">
                                                <div class="col-3 g-0" data-sly-test="${route.logo}">
                                                    <img class="img-fluid"
                                                        src="${route.logo}"
                                                        alt="Teen Content">
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-center">${route.subDescription}</p>
                                                </div>
                                            </div>
                                            <div class="w-100 mt-4 text-center">
                                                <a href="${route.link}"
                                                    class="btn btn-primary btn-sm fst-italic rounded-pill text-uppercase"
                                                    data-bs-toggle="modal" data-bs-target="#aboutRocketLeagueModal"
                                                    role="button" aria-lable="learn">${route.btn}<i
                                                        class="fas fa-angle-right ms-2 align-middle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </sly>
                                </sly>
                                </sly>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>