<!-- LATEST STRIDE ESPORTS NEWS widget START -->
<div>
    <!--Group Card START -->
    <div class="card card-custom">
        <div class="card-header">
            <h4 class="text-white text-uppercase mb-1">${properties.rosterHeading}<span
                    class="text-primary"> >${properties.rosterSubHeading}</span></h4>
            <div class="card-toolbar">
                <a href="#" class="btn btn-xs btn-light-soft fst-italic rounded-pill text-uppercase mb-0">>${properties.rosterCTA}</a>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="container">
                <div class="row">
                    <!-- Title -->
                    <div class="col-12">
                        <h3 class="card-title text-uppercase mb-4 text-center">${properties.rosterYear}
                            <span class="text-primary">${properties.rosterTitle}</span>
                        </h3>
                    </div>
                    <!-- sponser/roster Logo Item -->
                    <div class="col-12 d-none d-lg-block">
                        <div class="three-four-card-list d-md-flex">
                            <!-- four group-card START -->
                            <div class="four-card row g-0">
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-1.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-2.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-3.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-4.svg"
                                            alt="image title">
                                    </div>
                                </div>

                            </div>
                            <!-- four group-card START -->
                            <div class="four-card row g-0">
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-5.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-6.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-7.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-8.svg"
                                            alt="image title">
                                    </div>
                                </div>

                            </div>
                            <!-- four group-card START -->
                            <div class="four-card row g-0">
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-9.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-10.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-11.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-12.svg"
                                            alt="image title">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="three-four-card-list d-md-flex">
                            <!-- four group-card START -->
                            <div class="four-card row g-0">
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-1.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-2.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-3.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-4.svg"
                                            alt="image title">
                                    </div>
                                </div>

                            </div>
                            <!-- four group-card START -->
                            <div class="four-card row g-0">
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-5.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-6.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-7.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-8.svg"
                                            alt="image title">
                                    </div>
                                </div>

                            </div>
                            <!-- four group-card START -->
                            <div class="four-card row g-0">
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-9.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-10.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-11.svg"
                                            alt="image title">
                                    </div>
                                </div>
                                <!-- card one Start -->
                                <div class="col-6">
                                    <div
                                        class="vstack justify-content-center align-items-center text-center py-4">
                                        <img class="card-img"
                                            src="assets/images/roster-logos/rlogo-12.svg"
                                            alt="image title">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-block d-lg-none">
                        <div class="d-block pb-4">
                            <!-- Slider START -->
                            <div
                                class="tiny-slider arrow-hover arrow-blur arrow-round rounded-3">
                                <div class="tiny-slider-inner" data-autoplay="false"
                                    data-hoverpause="true" data-gutter="0"
                                    data-arrow="false" data-dots="true" data-items="1"
                                    data-loop="false">
                                    <!-- Slide item -->
                                    <div class="item pb-5">
                                        <!-- four group-card START -->
                                        <div class="four-card row g-0">
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-1.svg"
                                                        alt="image title">
                                                </div>
                                            </div>
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-2.svg"
                                                        alt="image title">
                                                </div>
                                            </div>
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-3.svg"
                                                        alt="image title">
                                                </div>
                                            </div>
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-4.svg"
                                                        alt="image title">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Slide item -->
                                    <div class="item pb-5">
                                        <!-- four group-card START -->
                                        <div class="four-card row g-0">
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-5.svg"
                                                        alt="image title">
                                                </div>
                                            </div>
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-6.svg"
                                                        alt="image title">
                                                </div>
                                            </div>
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-7.svg"
                                                        alt="image title">
                                                </div>
                                            </div>
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-8.svg"
                                                        alt="image title">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Slide item -->
                                    <div class="item pb-5">
                                        <!-- four group-card START -->
                                        <div class="four-card row g-0">
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-9.svg"
                                                        alt="image title">
                                                </div>
                                            </div>
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-10.svg"
                                                        alt="image title">
                                                </div>
                                            </div>
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-11.svg"
                                                        alt="image title">
                                                </div>
                                            </div>
                                            <!-- card one Start -->
                                            <div class="col-6">
                                                <div
                                                    class="vstack justify-content-center align-items-center text-center py-4">
                                                    <img class="card-img"
                                                        src="assets/images/roster-logos/rlogo-12.svg"
                                                        alt="image title">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Group Card END -->
</div>
<!-- LEVEL UP YOUR LEARNING widget END -->