<p data-sly-test.edit = "${wcmmode.edit}" data-emptytext = "Configure Roster Component here" class="cq-placeholder"></p>


<div id="item-17">
   
    

    <!--  START -->
    <div>
        <!--Group Card START -->
        <div class="card card-custom">
            <div class="card-header">
                <h4 class="text-white text-uppercase mb-1">${properties.rosterHeading}<span
                        class="text-primary">${properties.rosterSubHeading}</span></h4>
                <div class="card-toolbar">
                    <button type="button"
                        class="btn btn-xs btn-light-soft fst-italic rounded-pill text-uppercase mb-0" data-bs-toggle="modal" data-bs-target="#rosterModal">${properties.rosterCTA}</button>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="row">
                    <!-- Title -->
                    <div class="col-12">
                        <h3 class="card-title text-uppercase mb-4 text-center">${properties.rosterYear}
                            <span class="text-primary">${properties.rosterTitle}</span>
                        </h3>
                    </div>

                    <div class="col-12">
                        <div class="roster-list">
                            <div
                                class="tiny-slider arrow-hover arrow-blur arrow-round rounded-3">
                                <div class="tiny-slider-inner" data-autoplay="false"
                                    data-hoverpause="true" data-gutter="0" data-arrow="false"
                                    data-dots="true" data-items-xl="6" data-items-md="3"
                                    data-items-sm="2" data-items-xs="2" data-loop="false">
                                    <!-- Slide item -->
                                    <sly data-sly-list.multifield="${resource.getChildren}">
                                        <sly data-sly-test="${multifield.name == 'roster'}">
                                            <sly data-sly-list.route="${multifield.getChildren}">
                                                <div class="item pb-5">
                                                    <sly data-sly-list.secondMultifield="${route.getChildren}">
                                                        <sly data-sly-test="${secondMultifield.name == 'rosterList'}">
                                                            <sly data-sly-list.data="${secondMultifield.getChildren}">
                                                                <div
                                                                    class="vstack justify-content-center align-items-center text-center p-4">
                                                                    <a href="${data.imagePath}"><img class="card-img"
                                                                            src="${data.image}"
                                                                            alt="${data.altText}"></a>
                                                                </div>
                                                            </sly>
                                                        </sly>
                                                    </sly>
                                                </div>
                                            </sly>
                                        </sly>
                                    </sly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END -->

</div>