<p data-sly-test.edit = "${wcmmode.edit}" date-emptytext = "Configure Overview Component here" class = "cq-placeholder"></p>
<div>
    <!-- Card START -->
    <div class="card">
        <div class="p-4">
            <h5 class="text-primary text-uppercase mb-0">${properties.heading}</h5>
            <h2 class="card-title text-uppercase display-5 mb-0">${properties.subHeading}</h2>
        </div>
        <img src="${properties.image}" alt="${properties.imageAltText}">
        <div class="card-body p-4">

            ${properties.description @context = 'html'}

            <sly data-sly-test="${properties.viewType=='overviewQuote'}"  data-sly-resource="${'quote' @ resourceType='esports/components/quote'}"></sly>
            <div class="w-100 mt-5 text-center text-lg-end" data-sly-test="${properties.ctaText}">
                <a href="${properties.ctaLink}" class="btn btn-primary btn-sm fst-italic rounded-pill text-uppercase" role="button" aria-lable="learn">${properties.ctaText} 
                    <i class="fas fa-angle-right ms-2 align-middle"></i></a>
            </div>
        </div>
    </div>
</div>