<p data-sly-test.edit = "${wcmmode.edit}" data-emptytext = "Configure Video Card Pop-up Component here" class = "cq-placeholder"></p>
<div>
    <div class="card border">
        <div class="card-header">
            <small class="small fst-italic text-uppercase">${properties.heading}</small>
            <h5 class="text-white text-uppercase mb-0">${properties.subHeading}</h5>
        </div>
        <div class="card-body px-0">
            <div class="d-block p-4" data-scroll-reveal="enter bottom move 40px over 0.3s after 0.3s">
                <!-- Card img -->
                <div
                    class="card position-relative overflow-hidden card-fold card-overlay-bottom">
                    <img class="card-img" src="${properties.image}" alt="Card image">
                    <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                        <!-- Card overlay -->
                        <div class="w-100 my-auto">
                            <!-- Popup video -->
                            <a href="${properties.video}"
                                class="icon-lg bg-body d-block mx-auto text-white rounded-circle"
                                data-glightbox data-gallery="y-video">
                                <i class="bi bi-play-fill fs-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>