<p data-sly-test.edit = "${wcmmode.edit}" date-emptytext = "Configure header Component here" class = "cq-placeholder"></p>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
		<div class="offcanvas-body d-flex flex-column pt-0">
			<div class="sidebar active">
				<div class="offcanvas-header justify-content-end position-absolute w-100">
					<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>

				<div class="logo_content">
					<div class="logo">
						<div class="logo_name">
							<a class="navbar-brand" href="${properties.navigationRoot}">
								<img class="navbar-brand-item light-mode-item" src="${properties.logoImage}" alt="${properties.alternateText}">
							</a>
						</div>
					</div>
				</div>

				<ul class="navbar-nav nav_list">
                    <sly data-sly-list.multifield="${resource.getChildren}">
                        <sly data-sly-test="${multifield.name == 'navlinks'}">
                            <sly data-sly-list.route="${multifield.getChildren}">
                                <li class="nav-item">
                                    <a class="nav-link ${routeList.first?'active':''}" href="${route.hyperlink}">
                                        <i>
                                            <img class="icon-md p-2" src="${route.image}" alt="${route.altText}">
                                        </i>
                                        <span class="links_name">${route.linktext}</span>
                                    </a>
                                    <span class="tooltip"> <i>${route.tooltext}</i> </span>
                                </li>
                            </sly> 
                        </sly>           
                    </sly>
				</ul>
			</div>
		</div>
	</div>

    <header class="navbar-light navbar-sticky header-static d-block d-md-none">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
    
                <div class="nav-item">
                    <a class="nav-link p-0" data-bs-toggle="offcanvas" href="${properties.offcanvaslink}" role="button" aria-controls="offcanvasMenu">
                        <i class="bi bi-text-right rtl-flip fs-2" data-bs-target="#offcanvasMenu"> </i>
                    </a>
                </div>
    
                <a class="navbar-brand mx-auto" href="${properties.logolink}">
                    <img class="navbar-brand-item light-mode-item" src="${properties.image}" alt="${properties.altText}">
                </a>
                    <div class="nav-item">
                        <button type="button" class="btn btn-dark btn-round zoom-hover" data-bs-toggle="modal" data-bs-target="#formModal" aria-label="Get In Touch"><i class="bi bi-envelope-plus fs-2"></i></button>
                    </div>
            </div>
        </nav>
	</header>