<p data-sly-test.edit = "${wcmmode.edit}" date-emptytext = "Configure Info Card Component here" class = "cq-placeholder"></p>

<div class="">
    <!--<h5 class="mb-3">${properties.title}</h5> -->
    <!-- Default Card : START -->
    <div>
        <div class="card border" data-scroll-reveal="enter bottom move 40px over 0.3s after 0.3s">
            <div class="card-header">
                <h4 class="text-white text-uppercase mb-0">${properties.heading}</h4>
            </div>
            <!-- Image -->
            <img src="${properties.image}" alt="Pro Gammer">
            <div class="card-body p-4">
                <div class="row">													
                    <!-- Content -->
                    <div class="col-12">
                        <h3 class="card-title text-uppercase mb-4">${properties.description}</h3>
                        <div class="row">
                            <!-- card one Start -->
                            <sly data-sly-list.multifield="${resource.getChildren}">
                                <sly data-sly-test="${multifield.name == 'infoList'}">
                                <sly data-sly-list.route="${multifield.getChildren}">
                            <div class="col-6" data-scroll-reveal="enter bottom move 40px over 0.5s after 0.5s">
                                <div class="vstack justify-content-center align-items-center text-center py-3">
                                    <img class="card-img" src="${route.logo}" alt="${route.altText}">
                                </div>
                            </div>
                            </sly>
                            </sly>
                            </sly>
                        </div>
                        <div class="w-100 mt-4 text-center">
                            <a data-bs-toggle="modal"
                               data-bs-target="#rosterModal"
                                class="btn btn-primary btn-sm fst-italic rounded-pill text-uppercase"
                                role="button" aria-lable="learn">${properties.btnText} 
                                <i class="fas fa-angle-right ms-2 align-middle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Default Card : END -->
</div>
		<div class="modal custom-modal fade" id="rosterModal" tabindex="-1" aria-labelledby="VIEW
		FULL ROSTER" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-xl modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header border-0">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa fa-times"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="card card-custom">
							<div class="card-header">
								<h4 class="text-white text-uppercase mb-1">${properties.rosterHeading}<span class="text-primary">
										${properties.rosterSubHeading}</span></h4>
							</div>
							<div class="card-body p-4">
								<div class="row">

									<!-- Title -->
									<div class="col-12">
										<h3 class="card-title text-uppercase mb-4 text-center">${properties.rosterYear}
											<span class="text-primary">${properties.rosterTitle}</span>
										</h3>
									</div>
									<!-- Roster Logos -->
									<div class="col-12">
										<!-- Group list of League logo -->
										<div class="roster-inline-list">
                                            <sly data-sly-list.multifield="${resource.getChildren}">
                                                <sly data-sly-test="${multifield.name == 'modalList'}">
                                                    <sly data-sly-list.data="${multifield.getChildren}">
                                                        <div class="row">
                                                            <sly data-sly-list.secmultifield="${data.getChildren}">
                                                                <sly data-sly-test="${secmultifield.name == 'modal'}">
                                                                    <sly data-sly-list.routeList="${secmultifield.getChildren}">
                                                                        <div class="col-6 col-sm-4 col-lg-2">
                                                                            <div
                                                                                class="vstack justify-content-center align-items-center text-center p-3">
                                                                                <a href="${routeList.imageLink}"><img class="card-img"
                                                                                        src="${routeList.image}"
                                                                                        alt="${routeList.altText}"></a>
                                                                            </div>
                                                                        </div>
                                                                    </sly>
                                                                </sly>
                                                            </sly>
                                                            
                                                        </div>
                                                    </sly>
                                                </sly>
                                            </sly>

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer border-0 justify-content-between"></div>
				</div>
			</div>
		</div>